
<header>
  <%= image_tag 'logo.png', class: 'logo' %>
</header>
<main>
  <div class="matches-index">
    <h3>
      New matches
    </h3>
  </div>
  <div class="chatroom-index">
    <h3>
      Messages
      <%# <%= @match.chatroom.user1.name %>
    </h3>
  </div>
</main>
